<section class="categories">
    <h3>Categories by region</h3>
  <ul>
    <li>
      <a href="#jungle">
        <img src="/img/selva.webp" alt="jungle">
        <span>Jungle</span>
      </a>
    </li>
    <li>
      <a href="#highlands">
        <img src="/img/sierra.webp" alt="highlands">
        <span>Highlands</span>
      </a>
    </li>
    <li>
      <a href="#coast">
        <img src="/img/costa.webp" alt="coast">
        <span>Coast</span>
      </a>
    </li>
    <li>
      <a href="#national">
        <img src="/img/nacional.webp" alt="national">
        <span>National</span>
      </a>
    </li>
  </ul>
</section>
