<section class="hero-section" aria-labelledby="hero-title">
    <picture class="hero__media">
        <source media="(min-width: 768px)" srcset="/img/hero.webp">
        <img src="/img/hero.webp" alt="hero-peruvian-flavors">
    </picture>
    <div>
        <h1>Discover the Magic of <br><span class="peru-hero">Peruvian Cuisine</span>
        </h1>
        <p class="hero__tagline">Embark on a culinary journey through Peru's rich flavors!
        </p>
        <a href="/categories-view.html">Explore recipes</a>

    </div>
</section>